<nav class="bg-white-1000" style="background-color: #FCD7CD; height: 12vh;" >
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="hidden h-24 w-auto lg:block" src="assets/images/logo.png" alt="Minini"  style="margin-top: 4vh;" >
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-10">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#" class="text-pink-500 hover:bg-red-300 rounded-md px-4 py-2 text-xl font-serif" style="margin-top: 7vh;" aria-current="page">Catálogo</a>

          </div>
        </div>
      </div>
    </div>
  </div>

</nav>
<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
  <img src="assets/images/IMG_0934.JPG" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
 
  <div class="mx-auto max-w-7xl px-6 lg:px-8 glass-efect "  >
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl tracking-tight text-white sm:text-6xl font-serif">Creaciones Minini</h2>
    
      <p class="mt-6 text-lg leading-8 text-white font-serif">Confecciones amigurumis con las mejores ideas hechas a mano</p>

    </div>
      
  </div>
  
</div>


<div >
  
  <br>
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8 glass-efect">
    <h2 class="text-2xl tracking-tight text-black font-serif">Catálogo</h2>

    <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
     
      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="assets/images/WhatsApp Image 2023-04-13 at 11.38.36.jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <!-- <a href="#" class="font-serif"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Amigurumis
              <!-- </a> -->
            </h3>
            <p class="mt-1 text-sm text-gray-500 font-serif">Varoncito</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$15.000</p>
        </div>
      </div>

      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="assets/images/WhatsApp Image 2023-04-13 at 11.38.03(2).jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <!-- <a href="#" class="font-serif"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Amigurumis
              <!-- </a> -->
            </h3>
            <p class="mt-1 text-sm text-gray-500 font-serif">Damita</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$15.000</p>
        </div>
      </div>

      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="assets/images/WhatsApp Image 2023-04-13 at 11.38.03(1).jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <!-- <a href="#" class="font-serif"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Amigurumis
              <!-- </a> -->
            </h3>
            <p class="mt-1 text-sm text-gray-500 font-serif">Damita</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$15.000</p>
        </div>
      </div>

      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="assets/images/WhatsApp Image 2023-04-13 at 11.38.02(1).jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <!-- <a href="#" class="font-serif"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Amigurumis
              <!-- </a> -->
            </h3>
            <p class="mt-1 text-sm text-gray-500 font-serif">Gatito</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$5.000</p>
        </div>
      </div>

      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="assets/images/WhatsApp Image 2023-04-13 at 11.38.02.jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <!-- <a href="#" class="font-serif"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Amigurumis
              <!-- </a> -->
            </h3>
            <p class="mt-1 text-sm text-gray-500 font-serif">Perrito</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$5.000</p>
        </div>
      </div>

      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="assets/images/WhatsApp Image 2023-04-13 at 11.37.02.jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <!-- <a href="#" class="font-serif"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Amigurumis
              <!-- </a> -->
            </h3>
            <p class="mt-1 text-sm text-gray-500 font-serif">Perrito</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$7.000</p>
        </div>
      </div>

      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="assets/images/IMG_0929.JPG" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <!-- <a href="#" class="font-serif"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Amigurumis
              <!-- </a> -->
            </h3>
            <p class="mt-1 text-sm text-gray-500 font-serif">Rojo</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$15.000</p>
        </div>
      </div>

      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="assets/images/IMG_0928.JPG" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <!-- <a href="#" class="font-serif"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Amigurumis
              <!-- </a> -->
            </h3>
            <p class="mt-1 text-sm text-gray-500 font-serif">Rosado</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$15.000</p>
        </div>
      </div>
      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="assets/images/WhatsApp Image 2023-03-08 at 22.50.54(3).jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <!-- <a href="#" class="font-serif"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Amigurumis
              <!-- </a> -->
            </h3>
            <p class="mt-1 text-sm text-gray-500 font-serif">Mini</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$5.000</p>
        </div>
      </div>
      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="assets/images/WhatsApp Image 2023-03-08 at 22.50.54(4).jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <!-- <a href="#" class="font-serif"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Amigurumis
              <!-- </a> -->
            </h3>
            <p class="mt-1 text-sm text-gray-500 font-serif">Mini</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$5.000</p>
        </div>
      </div>
      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="assets/images/WhatsApp Image 2023-03-08 at 22.50.55.jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <!-- <a href="#" class="font-serif"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Amigurumis
              <!-- </a> -->
            </h3>
            <p class="mt-1 text-sm text-gray-500 font-serif">Mini</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$10.000</p>
        </div>
      </div>
      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="assets/images/WhatsApp Image 2023-03-08 at 22.50.56.jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <!-- <a href="#" class="font-serif"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Amigurumis
              <!-- </a> -->
            </h3>
            <p class="mt-1 text-sm text-gray-500 font-serif">Mini</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$5.000</p>
        </div>
      </div>
      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="assets/images/WhatsApp Image 2023-03-08 at 22.50.59.jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <!-- <a href="#" class="font-serif"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Amigurumis
              <!-- </a> -->
            </h3>
            <p class="mt-1 text-sm text-gray-500 font-serif">Extra-Mini</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$3.000</p>
        </div>
      </div>
      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="assets/images/WhatsApp Image 2023-03-08 at 22.50.59(1).jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <!-- <a href="#" class="font-serif"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Amigurumis
              <!-- </a> -->
            </h3>
            <p class="mt-1 text-sm text-gray-500 font-serif">Mediano</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$7.000</p>
        </div>
      </div>
      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="assets/images/WhatsApp Image 2023-03-08 at 22.51.02.jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <!-- <a href="#" class="font-serif"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Amigurumis
              <!-- </a> -->
            </h3>
            <p class="mt-1 text-sm text-gray-500 font-serif">Mediano</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$15.000</p>
        </div>
      </div>
      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
          <img src="assets/images/WhatsApp Image 2023-03-08 at 22.50.59(2).jpeg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <!-- <a href="#" class="font-serif"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Amigurumis
              <!-- </a> -->
            </h3>
            <p class="mt-1 text-sm text-gray-500 font-serif">Mediano</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$15.000</p>
        </div>
      </div>
      <!-- More products... -->
    </div>
  </div>
</div>
<footer class="mx-auto mt-32 w-full max-w-container px-4 sm:px-6 lg:px-8">
  <div class="border-t border-slate-900/5 py-10">
    <img class="mx-auto h-36 w-auto text-slate-900" src="assets/images/logo.png" alt="Minini" >
      <p class="mt-5 text-center text-sm leading-6 text-slate-500 font-serif">© 2023 Creaciones Minini</p>
  </div>
</footer>

