@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-efect {

/* From https://css.glass */
background: rgba(98, 213, 245, 0.74);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(16.1px);
-webkit-backdrop-filter: blur(16.1px);
border: 1px solid rgba(102, 195, 194, 0.98);
}